<div id="container-instructions">

    <h1 style="text-align:center">Instruction</h1>

    <hr/>

    <div class="instructions well">
        <div style="display: block; margin-left: 15%;">
        <p>In this study, you will watch videos of the robot Kuri and evaluate robot behaviors in each video.</p>
        <p>After rating each video, you need to click "next" button to move forward. </p>
				<p>There are 31 videos in total. Notice that you cannot go back to the previous question.</p>
        </div>

        <p><img src="../static/images/kuri_robot.jpg" type="image/png" style="display: block;margin-left: auto;margin-right: auto;width: 20%;"></p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr/>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
