
<html>
	<head>
        <meta charset="utf-8" />
    <title>Post Questionnaire</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
        <link rel="icon" href="static/favicon.ico" />
		<style type="text/css">
			/* these tyles need to be defined locally */
      body{
          width: 950px;
          height: 500px;
          background: white;
          margin:0 auto;
      }

      .question{
        font:14px Arial, san-serif;
        font-weight: bold;
      }
		</style>
	</head>
	<body>

    <h1>Task Complete</h1>
    <hr/>

    <div class="instructions well">
        <form id="postquiz" action="debrief" method="post">
            <!-- beginning of a question -->

            <div>
              <p class="row question">Please enter your worker ID: 
                <input type="text" value="" id="worker_id" required>
              </p>
              <p>note: you can find your worker ID at the <b>top left</b> corner of your Amazon Mechanical Turk worker page. </p>
              <img src="../static/images/worker_id_locate.png" type="image/png" style="display: block;margin-left: auto;margin-right: auto;margin-bottom: 3%;width: 50%;">
            </div>

            <div>
                <p class="row question">If you have other comments, please leave it here.</p>
                <textarea id="comment" rows="5" cols="60"></textarea>
            </div>
            <hr/>
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1 - 5 (where 5 is the most experienced), please rate your professional experience with robots:
                </div>
                <div class="col-md-4">
                    <select id="robot_experience" name="robot_experience">
                        <option value="5">5 - I work with robots very often.</option>
                        <option value="4">4 - I work with robots often.</option>
                        <option value="3">3 - I work with robots sometimes.</option>
                        <option value="2">2 - I barely work with robots.</option>
                        <option value="1" SELECTED>1 - I have never worked with robots before.</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

						<div class="row question">
								 <!-- <div class="col-md-8">
										What's your age?
								</div> -->
								<div class="col-md-8">
								<label for="age_input"> What is your age? </label>
								</div>
								<div class="col-md-8">
								<input type="number" min="1" max="100" value="30" id="age_input">
								</div>
						</div>

            <div class="row question">
                 <div class="col-md-8">
                    How would you describe your gender?
                </div>

                <div class="col-md-8">
                  <div class="answer">
                    <input type="radio" name="answers[1]" id="answer-read-yes" value="male" required>
                    <label for="answer-read-yes" class="answer__item">
                      Male
                    </label>
                  </div>
                  <div class="answer">
                    <input type="radio" name="answers[1]" id="answer-read-no" value="female" required>
                    <label for="answer-read-no" class="answer__item">
                      Female
                    </label>
                  </div>

                  <div class="answer">
                    <input type="radio" name="answers[1]" id="answer-read-yes" value="self-describe" required>
                    <label for="answer-read-yes" class="answer__item">
                      Prefer to self-describe:
                    </label>
										<input type="text" value="" id="gender_describe" class="answer__item">

                  </div>
                  <div class="answer">
                    <input type="radio" name="answers[1]" id="answer-read-no" value="not-say" required>
                    <label for="answer-read-no" class="answer__item">
                      Prefer not to say
                    </label>
                  </div>

                </div>
            </div>

        </form>
    </div>

		<div>
			<p id="warning_txt" style="margin-left:20%; font-weight: bold; color:#eb4034"></p>
		</div>

    <hr/>
    <p><b>You are all finished! Please write down the survey code below. The survey code will be used for Amazon Mechanical Turk submission</b></p>
    <h1 id="code" style="display: block;margin-left: auto;margin-right: auto;margin-bottom: 3%;width: 50%;">135</h1>
    <hr/>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Submit<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

  <script>
  get_survey_code = function() {
		var today, date, time, dateTime, num; 
		today = new Date();
    date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
		time = today.getHours() + '-' + today.getMinutes() + '-' + today.getSeconds();
		dateTime = date+time;
		num = Math.floor(Math.random() * 150);
    code = dateTime + num; 
		code = code.replace(/-/g, ""); 
		console.log("code:" + code); 
		return code; 
	}
  var code = get_survey_code()
  document.getElementById('code').innerHTML = code;
  //document.getElementById('code_button').innerHTML = code;
  </script>

</body>
</html>
