<div id="verifyBox">
	<div id="verifyQ">Are you sure you want to start over?<br>All of your answers will be erased.</div>
	<div class="flexContainer">
		<div class="flexItem" id="startOverNo">Cancel</div>
		<div class="flexItem" id="startOverYes">Start Over</div>
	</div>
</div>

<div id="wrap">
	<div id="exit"><i class="fa fa-close"></i></div>
	
	<div id="qBox"></div>
	<div class="flexContainer">
		<div class="flexItem" id="back">
			<div id="backIcon"><i class="fa fa-chevron-left"></i></div>
		</div>  <!-- /back -->
		<div class="flexItem" id="aBox"></div>
		<div class="flexItem" id="fwd">
			<div id="fwdIcon"><i class="fa fa-chevron-right"></i></div>
		</div> <!-- /fwd -->
	</div> <!-- /flexContainer -->
	
	<div id="errorBox"><div id="error"></div></div>

	<div id="submitBox"></div>
	<div id="startOver">Erase Answers and Start Over</div>
</div> <!-- /wrap -->

<div id="qOpen">Request a Quote</div>
