<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Responsive Likert Scale for Surveys.</title>
      <link rel="stylesheet" href="../static/css/style.css">
  <style>
      video{
                margin-top:10%;             
                width:640px;
                height:360px;
                margin-left:15%;
      } 
      body{
          width: 950px;
          height: 500px;
          background: #D2D2D2;
          margin:0 auto;
      }
      h1 {
          font-weight: bold;
          font-size: 3em;
          margin-top: 1em;
      }
      .form-check-label {
        font-weight: 200;
    }
  </style>
  
</head>

<body>
  <h1>Scenario 1 </h1>

  <div>
    <video controls>
      <source src="../static/images/robot_hesitate_to_place.mp4" type="video/mp4">
    </video>
  
    <p> 
      It’s your turn and you are placing Tangram pieces on the canvas.
    </p>
    <h3>What do you think of the robot? Choose the level of confidence that you think is the most appropriate</h3>
  </div>

  <div class="wrap">

  <form action="">
    <label class="statement">The robot is observing the canvas.</label>
    <ul class='likert' id="group0">
      <li>
        <input type="radio" name="group0" id="strongly_agree" value="strongly_agree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group0" id="agree" value="agree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group0" id="neutral" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group0" id="disagree" value="disagree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group0" id="strongly_disagree" value="strongly_disagree">
        <label>Strongly agree</label>
      </li>
    </ul>
    
    <label class="statement">The robot is paying attention on my placement.</label>
    <ul class='likert' id="group1">
      <li>
        <input type="radio" name="group1" id="strongly_agree" value="strongly_agree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group1" id="agree" value="agree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group1" id="neutral" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group1" id="disagree" value="disagree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group1" id="strongly_disagree" value="strongly_disagree">
        <label>Strongly agree</label>
      </li>
    </ul>

    <label class="statement">The robot looks confused.</label>
    <ul class='likert' id="group2">
      <li>
        <input type="radio" name="group2" id="strongly_agree" value="strongly_agree"> 
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group2" id="agree" value="agree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group2" id="neutral" value="neutral" >
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group2" id="disagree" value="disagree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group2" id="strongly_disagree" value="strongly_disagree">
        <label>Strongly agree</label>
      </li>
    </ul>

    <label class="statement">The robot is looking around randomly.</label>
    <ul class='likert' id="group3">
      <li>
        <input type="radio" name="group3" id="strongly_agree" value="strongly_agree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group3" id="agree" value="agree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group3" id="neutral" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group3" id="disagree" value="disagree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group3" id="strongly_disagree" value="strongly_disagree">
        <label>Strongly agree</label>
      </li>
    </ul>




    <div>
    <button type="button" id="nextL" value="nextL" class="btn btn-primary btn-lg continue">
        next
    </button>
    </div>

  </form>
    
</body>

</html>