<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Responsive Likert Scale for Surveys.</title>
      <link rel="stylesheet" href="../static/css/style.css">
  <style>
      video{
                margin-top:10%;             
                width:640px;
                height:360px;
                margin-left:15%;
      } 
      body{
          width: 950px;
          height: 500px;
          background: #D2D2D2;
          margin:0 auto;
      }
      h1 {
          font-weight: bold;
          font-size: 3em;
          margin-top: 1em;
      }
      .form-check-label {
        font-weight: 200;
    }
  </style>
  
</head>

<body>
  <h1>Scenario 3 </h1>

  <div>
    <video controls>
      <source src="../static/images/robot_hesitate_to_place.mp4" type="video/mp4">
    </video>
  
    <p> 
      The robot takes the turn and is on its way to place the element. However, it is stopped by the participant.
    </p>
    <h3>Which emotions do you think the robot is expressing? Choose the level of confidence that you think is the most appropriate (left: lowest confidence; right: highest confidence)</h3>
  </div>

  <div class="wrap">

  <form action="">
    <label class="statement">Anger</label>
    <ul class='likert' id="group0">
      <li>
        <input type="radio" name="group0" id="strongly_disagree_0" value="strongly_disagree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group0" id="disagree_0" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group0" id="neutral_0" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group0" id="agree_0" value="agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group0" id="strongly_agree_0" value="strongly_agree">
        <label>Strongly agree</label>
      </li>
    </ul>
    
    <label class="statement">Disappointment</label>
    <ul class='likert' id="group1">
      <li>
        <input type="radio" name="group1" id="strongly_disagree_1" value="strongly_disagree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group1" id="disagree_1" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group1" id="neutral_1" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group1" id="agree_1" value="agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group1" id="strongly_agree_1" value="strongly_agree">
        <label>Strongly agree</label>
      </li>
    </ul>

    <label class="statement">Self-blame</label>
    <ul class='likert' id="group2">
      <li>
        <input type="radio" name="group2" id="strongly_disagree_2" value="strongly_disagree"> 
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group2" id="disagree_2" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group2" id="neutral_2" value="neutral" >
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group2" id="agree_2" value="agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group2" id="strongly_agree_2" value="strongly_agree">
        <label>Strongly agree</label>
      </li>
    </ul>


    <label class="statement">Lack of confidence</label>
    <ul class='likert' id="group3">
      <li>
        <input type="radio" name="group3" id="strongly_disagree_3" value="strongly_disagree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group3" id="disagree_3" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group3" id="neutral_3" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group3" id="agree_3" value="agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group3" id="strongly_agree_3" value="strongly_agree">
        <label>Strongly agree</label>
      </li>
    </ul>

    <label class="statement">Confusion</label>
    <ul class='likert' id="group4">
      <li>
        <input type="radio" name="group4" id="strongly_agree_4" value="strongly_disagree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group4" id="agree_4" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group4" id="neutral_4" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group4" id="disagree_4" value="agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group4" id="strongly_disagree_4" value="strongly_agree">
        <label>Strongly agree</label>
      </li>
    </ul>

    <label class="statement">Neutral</label>
    <ul class='likert' id="group5">
      <li>
        <input type="radio" name="group5" id="strongly_agree_5" value="strongly_disagree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group5" id="agree_5" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group5" id="neutral_5" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group5" id="disagree_5" value="agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group5" id="strongly_disagree_5" value="strongly_agree">
        <label>Strongly agree</label>
      </li>
    </ul>

    <label class="statement">Happiness</label>
    <ul class='likert' id="group6">
      <li>
        <input type="radio" name="group6" id="strongly_agree_6" value="strongly_disagree">
        <label>Strongly disagree</label>
      </li>
      <li>
        <input type="radio" name="group6" id="agree_6" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="group6" id="neutral_6" value="neutral">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="group6" id="disagree_6" value="agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="group6" id="strongly_disagree_6" value="strongly_agree">
        <label>Strongly agree</label>
      </li>
    </ul>




    <div>
    <button type="button" id="nextL" value="nextL" class="btn btn-primary btn-lg continue">
        next
    </button>
    </div>

  </form>
    
</body>

</html>