<div id="container-instructions">

	<h1>Experiment Setup</h1>

	<hr />

	<div class="instructions well">
        <p>
        	<img src="../static/images/tangram_setup.jpg" type="image/png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"> 
        </p>

        <p>
		    The participant sit close to the robot Kuri and plays the Tangrams on the laptop. The camera above the ground projects the game interface to the ground and Kuri moves around with respect to its actions in the game. 
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
